default: &default
  application_name: "eID Manager"
  time_zone: "Tallinn"
  devise_secret_key: "Your very secret key used for devise tokens"

  # Address from which the emails come from
  email_from_address: "noreply@internet.ee"

  tos_link: https://www.internet.ee/domains/ee-domain-regulation

  mailer:
    host: 'https://eid.test'
    address: 'mailcatcher'
    port: '1025'
    enable_starttls_auto: false
    user_name: ''
    password: ''
    # 'plain', 'login', 'cram_md5'
    authentication: 'plain'
    domain: ''
    openssl_verify_mode: 'none'

  airbrake:
    host: ''
    project_id: ''
    project_key: ''

  billing:
    issuer: 'Eesti Interneti SA'
    vat_id: 'EE123'
    reg_no: '123123123'
    address: 'Paldiski mnt 80, 10617 Tallinn'
    auth_price: 9 # Authentication price in cents (excl VAT)
    autotopup_min_cents: 500 # Minimal amount for PSD2 / CC payments
    balance_critical_cents: 500

  payment_methods:
    enabled_methods:
      - "PaymentOrders::Psd2"
      - "PaymentOrders::Sepa"
    psd2:
      url: 'https://igw-demo.every-pay.com/api/v4'
      user: '123'
      key: '123'
      account_id: '123'
      icon: '/images/payment_methods/every_pay.png'
      linkpay_prefix: 'https://igw-demo.every-pay.com/lp'
      linkpay_check_prefix: 'https://igw-demo.every-pay.com/api/v4/payments/'
      linkpay_token: '123'
    sepa:
      billing_account_iban: 'EE12 1234 1234 1234'
      billing_account_bank_name: 'AS LHV PANK'
      billing_account_beneficiary: 'Eesti Interneti SA'
      billing_account_bic: 'BIC123'
      lhv_p12_keystore: ''
      lhv_keystore_password: ''
      lhv_ca_file: ''
      lhv_dev_mode: true

  tara:
    host: 'tara-test.infra.tld.ee'
    issuer: 'https://tara-test.infra.tld.ee'
    identifier: '123'
    secret: '123'
    redirect_uri: 'http://localhost:3000/auth/tara/callback'
    ory_hydra_private: 'http://hydra:4445'
    keys: 
      use: sig
      kty: RSA
      kid: public:b491f057-706d-4ab9-baf0-0fb97a9b3292
      alg: RS256
      n: r-I6Qt-Ee4eUgGoWHORazpnb34qWFO4jilJHBCdFsQkXYJEtiyPVHKdkb0_xuurs71omq0h6wiyVkP0Atse1-uEWF_KB7m498CAp_W0z9Aep4m6ixti2G7mASr4sUipGak4KLd9n2PlgxNrJ6hE3uypd32k_nGB3Q6ULeyOpNOt3FagGcgHBGJxIa8PFlPcMKEF8M__Rwj_ZsvQH2EFG7yEzEWsNjJBtAMpmRCflgRPLtzLwixRMKZfTd-oyQ92Epm-4Yww3np4W5DMaggOWgvhnPNYQq7rKorXyksRVzsmgNsN5BePcflMJ82IdD_tglZxmnMXtLSkZVkR3uwXzZe6WqQ80aL1rw02W4EhtuwAaCyG4pRvinhgUeS9h3ZRIKS56eL7AgW55tje6Bn4GeayzSbzDK5GYy2GGb__A_s5C7MqNtkHvtjDPOp7Rlp2-cIupycpTlkbMswAwSo47h-flVxGRM8XdtYYkVjHcXq88CBtxi9GSdFFrgtqtiMUo8bi5zThajl9Wii1lMUW3nKlTAWGYi-JmQPaBBIXRh5V86VNqyfa93CoAELp1VXHusy9tYcUekD38MXCAYMJpQuNETa7TS-uUZqpJAJ3ya4C5p476a0dXv9w6EevGu0bh3ySXKi4-reLkbbFmhHntqouVhGSOQnPNkv1vNhsp9V0
      e: AQAB

development:
  <<: *default
test:
  <<: *default

  payment_methods:
    enabled_methods:
      - "PaymentOrders::Psd2"
      - "PaymentOrders::Sepa"

    psd2:
      url: 'https://igw-demo.every-pay.com/api/v3'
      user: 'api_user'
      key: 'api_key'
      account_id: '123'
      icon: '/images/payment_methods/every_pay.png'
    sepa:
      billing_account_iban: 'EE12 1234 1234 1234'
      billing_account_bank_name: 'AS LHV PANK'
      billing_account_beneficiary: 'Eesti Interneti SA'
      billing_account_bic: 'BIC123'
      lhv_p12_keystore: ''
      lhv_keystore_password: ''
      lhv_ca_file: ''
      lhv_dev_mode: true

staging:
  <<: *default
production:
  <<: *default
